<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Página Web en Flask</h1>
    </header>
    <main>
        <p>¡Esta es una página web simple creada con Flask!</p>
    </main>
    <footer>
        <p>© 2025 Mi Página Web</p>
    </footer>
</body>
</html>
